/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
}

/* .navbar {
  background-color:rgb(24, 24, 82) !important;
} */

.navbar-brand, .nav-link {
  color: #fff !important;
}


.hero-section {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url("colle.jpg");
  background-size: cover;
  color: #fff;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 150px 0;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
#about{
  background-color: grey;
}

.btn-primary {
  background-color: #143d1e !important;
  border-color: #28a745 !important;
}

.btn-primary:hover {
  background-color: #218838 !important;
  border-color: #218838 !important;
}

.features-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.feature-item {
  text-align: center;
  margin-bottom: 30px;
}

.feature-item i {
  font-size: 3rem;
  color: #28a745;
  margin-bottom: 10px;
}
#contact{
 background-color: grey;
}
.img2{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url("colle.jpg");
  
}

/* Add any additional styles here */
